html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
}

label {
    display: block;
    font-size: 12pt;
}

div.content {
    margin: 10px;
    padding: 0;
}

input[type=text] {
    font-family: monospace;
}

#command_preview {
    width: calc(100vw - 20px);
    background-color: #333;
    color: #fff;
    font-size: 12pt;
}

div.content > textarea {
    width: calc(100vw - 20px);
    height: 200px;
    background-color: #333;
    color: #fff;
    font-size: 12pt;
}

